@charset "UTF-8";
@import "reset.css";
@import "cores.css";

@font-face{
    font-family: pixel;
    src: url(fonts/PixelHour.ttf);
}
body{
    background-color: var(--baltic-blue);

    color: var(--bright-snow);
    font-family: pixel ;
    

}